* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 56px;
	font-weight: 500;
	line-height: 90px;
	color: #ff4b23;
}
h2 {
	padding: 28px 0;
	font-family: Roboto;
	font-size: 40px;
	font-weight: bold;
	color: #ff4b23;
}
h3 {
	font-size: 18px;
	color: #000;
}
a {
	text-decoration: none;
}

.pure-g [class *="pure-u"] {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
	width: 100%;
}
.header {
	position: fixed;
	width: 100%;
	height: 80px;
	background: #fff;
	z-index: 10;
}
.header-title {
	padding-left: 6.25%;
	font-size: 21px;
	font-weight: bold;
	line-height: 80px;
	color: #c9ced1;
}
.header-title .thin {
	font-weight: normal;
}
.nav {
	float: right;
	padding-right: 6.25%;
	text-align: right;
	white-space: nowrap;
}
.nav-item {
	display: table-cell;
	float: right;
	padding: 0 18px;
	font-weight: 500;
	line-height: 76px;
	color: #343434;
	border-top: 4px solid #fff;
	transition: all 0.3s;
	cursor: pointer;
}
.nav-item:hover {
	font-weight: 500;
	line-height: 76px;
	border-top: 4px solid #ff4b23;
}
.nav .active {
	border-top: 4px solid #ff4b23;
}
.nav-dropdown {
	position: relative;
	height: 80px;
	cursor: pointer;
	transition: all 0.3s;
}
.nav-dropdown:hover {
	color: rgba(52, 52, 52, 0.5);
	background: #ff4b23;
}
.nav-dropdown:hover > .nav-dropdown-menu {
	opacity: 1;
	visibility: visible;
}
.nav-dropdown-menu {
	position: absolute;
	left: 0;
	top: 76px;
	width: 100%;
	background-color: #ff4b23;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.nav-dropdown-item {
	display: block;
	font-weight: 500;
	line-height: 48px;
	text-align: center;
	color: #fff;
}

#menu {
	visibility: hidden;
}

.section {
	height: 800px;
	background: #f8f8f8;
	overflow: hidden;
}
.section-text {
	padding-left: 12.5%;
	padding-top: 240px;
}
.section-text p {
	padding-right: 6.25%;
	font-family: Roboto;
	font-size: 18px;
	line-height: 28px;
	color: #343434;
}
.section-img {
	padding-top: 190px;
	text-align: right;
}
/*.section-img img {
	max-width: 100%;
	height: auto;
}*/

.section-cover {
	height: 660px;
	padding-top: 80px;
}
.section-cover .section-text {
	padding-top: 100px;
}
.section-cover .section-img {
	padding-right: 12.5%;
	padding-top: 160px;
	text-align: right;
}

.section-features {
	height: auto;
	padding: 70px 12.5%;
	clear: both;
	overflow: hidden;
}

.section-screenshots {
	width: 100%;
	padding: 60px 0 60px 6.25%;
	background: #f4f4f4;
	overflow-x: scroll;
	overflow-y: hidden;
}

.section-intro {
	margin: 0 18.75%;
	padding: 120px 6.25% 32px;
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
}

.section-contact {
	padding: 200px 12.5% 20px;
}

.sort {
	font-weight: bold;
	color: #a09f9f;
}
.link-more {
	display: block;
	margin: 28px 0 120px;
	font-size: 13px;
	color: #ff4b23;
}
.link-img {
	display: block;
	margin: 50px 0 120px;
}
.link-gp {
	width: 194px;
	height: 61px;
	background: url('../img/GooglePlay.png') 0 0 no-repeat;
	background-image: -webkit-image-set(url('../img/GooglePlay.png') 1x, url('../img/GooglePlay@2x.png') 2x);
	background-image: -moz-image-set(url('../img/GooglePlay.png') 1x, url('../img/GooglePlay@2x.png') 2x);
	background-image: -ms-image-set(url('../img/GooglePlay.png') 1x, url('../img/GooglePlay@2x.png') 2x);
	background-image: -o-image-set(url('../img/GooglePlay.png') 1x, url('../img/GooglePlay@2x.png') 2x);

}
.link-as {
	width: 197px;
	height: 60px;
	background: url('../img/AppStore.png') 0 0 no-repeat;
	background-image: -webkit-image-set(url('../img/AppStore.png') 1x, url('../img/AppStore@2x.png') 2x);
	background-image: -moz-image-set(url('../img/AppStore.png') 1x, url('../img/AppStore@2x.png') 2x);
	background-image: -ms-image-set(url('../img/AppStore.png') 1x, url('../img/AppStore@2x.png') 2x);
	background-image: -o-image-set(url('../img/AppStore.png') 1x, url('../img/AppStore@2x.png') 2x);

}
.link-web {
	margin-top: 70px;
	font-size: 13px;
	color: rgba(102, 102, 102, 0.7);
}
.link-web a {
	color: rgba(102, 102, 102, 0.7);
	text-decoration: underline;
}

#ifanr .section-img img {
	position: relative;
	right: -40px;
}
#klook .section-img img {
	position: relative;
	right: -90px;
}

#klook {
	background: #ff6164;
}
#klook div,
#klook h2,
#klook p,
#klook a {
	color: #fff;
}

#tweekr-top {
	height: 730px;
	background-color: #fff;
}
#tweekr-top .section-text {
	padding-top: 170px;
}
#tweekr-top .section-img {
	padding-top: 120px;
}
#tweekr h2,
#tweekr-top h2 {
	color: #16bf50;
}
#tweekr p,
#tweekr-top p {
	color: #6b6b6b;
}
#tweekr .section-img,
#tweekr-top .section-img {
	padding-right: 6.25%;
}

#tweekr-top h2 {
	font-size: 36px;
}
#tweekr-top p {
	font-size: 18px;
}
#tweekr-top .link-more {
	margin: 28px 0 110px;
	font-family: Roboto;
}
#tweekr-top .link-gp {
	margin: 0 0 80px;
}
#tweekr-top span {
	font-family: Roboto;
	color: rgba(0, 0, 0, 0.23);
}

.feature {
	margin-bottom: 35px;
}
.feature-icon {
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 12px;
}
.feature-text {
	float: left;
	width: 80%;
	font-family: Roboto;
}
.feature-text h3 {
	padding-bottom: 10px;
	font-weight: 500;
}
.feature-text p {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: #000;
	overflow: hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
}

.screenshots {
	height: 430px;
	width: 1440px;
	float: left;
}
.screenshots img {
	display: block;
	float: left;
	margin-right: 3.125%;
}

.quote-content {
	padding-bottom: 18px;
	font-family: Georgia;
	font-size: 22px;
	font-style: italic;
	line-height: 28px;
	color: #ff4b23;
}
.quote-author {
	padding-right: 30px;
	text-align: right;
	font-family: Georgia;
	font-size: 18px;
	font-style: italic;
	line-height: 28px;
	color: #c9ced1;
}
.intro {
	padding-top: 40px;
	color: #676767;
}
.intro p {
	padding-bottom: 28px;
	font-size: 18px;
	font-weight: 300;
	line-height: 36px;
	text-align: justify;
}
.intro p a {
	color: #676767;
	border-bottom: 2px solid #ff4b23;
}
.intro p strong {
	font-weight: 500;
}

.contact {
	padding: 0 3.125% 75px 6.25%;
}
.contact-way {
	font-size: 30px;
	line-height: 56px;
	color: #3a3c42;
}
.contact-content {
	display: block;
	font-size: 20px;
	color: #ff4b23;
	word-break: break-all;
	word-wrap: break-word;
}
#qr {
	display: inline-block;
	width: 20px;
}
#qrcode {
	display: none;
	position: absolute;
	width: 120px;
	box-shadow: 0 1px 1px 0 #d4d4d4;
}
#qr:hover > #qrcode {
	display: block;
}

.footer {
	height: 260px;
	padding-top: 80px;
	text-align: center;
}
.copyright {
	margin-bottom: 18px;
	font-weight: 300;
	color: #5d5c5c;
}
.social a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 4px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#email {
	background-image: url('../img/email.png');
	background-image: -webkit-image-set(url('../img/email.png') 1x, url('../img/email@2x.png') 2x);
	background-image: -moz-image-set(url('../img/email.png') 1x, url('../img/email@2x.png') 2x);
	background-image: -ms-image-set(url('../img/email.png') 1x, url('../img/email@2x.png') 2x);
	background-image: -o-image-set(url('../img/email.png') 1x, url('../img/email@2x.png') 2x);
}
#dribbble {
	background-image: url('../img/dribbble.png');
	background-image: -webkit-image-set(url('../img/dribbble.png') 1x, url('../img/dribbble@2x.png') 2x);
	background-image: -moz-image-set(url('../img/dribbble.png') 1x, url('../img/dribbble@2x.png') 2x);
	background-image: -ms-image-set(url('../img/dribbble.png') 1x, url('../img/dribbble@2x.png') 2x);
	background-image: -o-image-set(url('../img/dribbble.png') 1x, url('../img/dribbble@2x.png') 2x);
}
#wechat {
	background-image: url('../img/wechat.png');
	background-image: -webkit-image-set(url('../img/wechat.png') 1x, url('../img/wechat@2x.png') 2x);
	background-image: -moz-image-set(url('../img/wechat.png') 1x, url('../img/wechat@2x.png') 2x);
	background-image: -ms-image-set(url('../img/wechat.png') 1x, url('../img/wechat@2x.png') 2x);
	background-image: -o-image-set(url('../img/wechat.png') 1x, url('../img/wechat@2x.png') 2x);
}
#twitter {
	background-image: url('../img/twitter.png');
	background-image: -webkit-image-set(url('../img/twitter.png') 1x, url('../img/twitter@2x.png') 2x);
	background-image: -moz-image-set(url('../img/twitter.png') 1x, url('../img/twitter@2x.png') 2x);
	background-image: -ms-image-set(url('../img/twitter.png') 1x, url('../img/twitter@2x.png') 2x);
	background-image: -o-image-set(url('../img/twitter.png') 1x, url('../img/twitter@2x.png') 2x);
}

#contact {
	background: url('../img/contact.png') bottom no-repeat;
	background-image: -webkit-image-set(url('../img/contact.png') 1x, url('../img/contact@2x.png') 2x);
	background-image: -moz-image-set(url('../img/contact.png') 1x, url('../img/contact@2x.png') 2x);
	background-image: -ms-image-set(url('../img/contact.png') 1x, url('../img/contact@2x.png') 2x);
	background-image: -o-image-set(url('../img/contact.png') 1x, url('../img/contact@2x.png') 2x);
	background-size: cover;
}

@media (max-width: 48em) {
	h1 {
		font-size: 32px;
		font-weight: bold;
		line-height: 56px;
	}
	.header {
		height: 60px;
		z-index: 3;
	}
	.header-title {
		padding-left: 6.4%;
		line-height: 60px;
	}
	.nav {
		display: none;
	}

	#toggle {
		display: block;
		position: absolute;
		right: 6.4%;
		top: 28px;
		width: 24px;
		height: 26px;
		z-index: 10;
	}

	#toggle span:after,
	#toggle span:before {
		content: "";
		position: absolute;
		left: 0;
		top: -9px;
	}
	#toggle span:after{
		top: 9px;
	}
	#toggle span {
		position: relative;
		display: block;
	}

	#toggle span,
	#toggle span:after,
	#toggle span:before {
		width: 100%;
		height: 2px;
		background-color: #101010;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 2px;
	}

	#toggle.on span {
		background-color: transparent;
	}
	#toggle.on span:before {
		transform: rotate(45deg) translate(5px, 5px);
	}
	#toggle.on span:after {
		transform: rotate(-45deg) translate(7px, -8px);
	}
	#toggle.on,
	#menu.on {
		opacity: 1;
		visibility: visible;
	}

	#menu {
		position: relative;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity .4s;
	}

	.burger-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		padding-top: 60px;
		background: rgba(0, 0, 0, 0.3);
	}
	.burger-menu {
		position: fixed;
		width: 100%;
		height: auto;
		padding: 60px 0;
		background: #fff;
	}
	.burger-item,
	.burger-dropdown {
		display: block;
		font-size: 20px;
		font-weight: bold;
		line-height: 48px;
		color: #3d4245;
		cursor: pointer;
	}
	.burger-item {
		padding: 12px 6.4%;
	}
	.burger-item.disabled {
		color: #afb1b1;
	}

	.burger-dropdown-toggle {
		padding: 12px 6.4%;
	}
	.burger-dropdown-toggle span {
		display: inline-block;
		position: relative;
		left: 22px;
		top: -3px;
		width: 13px;
		height: 8px;
		background: url("../img/caret.png") no-repeat;
		background-image: -webkit-image-set(url('../img/caret.png') 1x, url('../img/caret@2x.png') 2x);
		background-image: -moz-image-set(url('../img/caret.png') 1x, url('../img/caret@2x.png') 2x);
		background-image: -ms-image-set(url('../img/caret.png') 1x, url('../img/caret@2x.png') 2x);
		background-image: -o-image-set(url('../img/caret.png') 1x, url('../img/caret@2x.png') 2x);
		transition: all 0.3s ease-in-out;
	}
	.burger-dropdown-toggle span.on {
		transform: rotate(180deg);
	}
	.burger-dropdown-menu {
		display: none;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all .4s;
	}
	.burger-dropdown-menu.on {
		display: block;
		height: auto;
		opacity: 1;
		visibility: visible;
	}
	.burger-dropdown-item {
		display: block;
		padding: 8px 6.4%;
		font-size: 18px;
		font-weight: normal;
		text-align: left;
		color: #3d4245;
	}

	.section {
		height: auto;
	}
	.section-text {
		padding: 48px 6.4% 0;
	}
	.section-img {
		padding: 0 6.4%;
		text-align: left;
		overflow: hidden;
	}
	.section-img img {
		border: 0;
		max-width: 100%;
	}

	.section-cover {
		height: auto;
		padding-top: 40px;
	}
	.section-cover .section-text {
		padding: 100px 6.4% 48px;
	}
	.section-cover .section-img {
		height: auto;
		padding: 0 6.4% 85px;
		text-align: left;
	}
	.section-cover .section-img img {
		height: 112px;
	}

	.section-features {
		height: auto;
		padding: 48px 6.4% 24px;
	}

	.section-screenshots {
		padding: 60px 0 60px 6.4%;
	}

	.section-intro {
		margin: 0;
		padding: 140px 6.4% 0;
	}

	.section-contact {
		padding: 140px 6.4% 0;
	}


	#ifanr .section-img {
		height: 258px;
	}
	#klook .section-img {
		height: 250px;
	}
	#ifanr .section-img img,
	#klook .section-img img {
		position: static;
	}
	#tweekr .section-img {
		margin-bottom: 48px;
	}
	#tweekr-top {
		padding-top: 48px;
	}
	#tweekr-top .section-text .link-more {
		margin-bottom: 48px;
	}
	#tweekr-top .section-text .link-gp {
		margin-bottom: 28px;
	}
	#tweekr-top .section-img {
		padding-top: 48px;
	}

	.link-more {
		margin: 28px 0 56px;
	}
	.link-img {
		margin: 24px 0 56px;
	}
	.link-web {
		margin: 30px 0 56px;
	}

	.feature-text {
		width: 260px;
	}

	#qr {
		display: block;
		width: 100%;
	}
	.qr-icon {
		display: none;
	}

	.footer {
		height: auto;
		padding: 56px 6.4%;
	}
}

@media (min-width: 1280px) {
	.container {
		margin: 0 auto;
		width: 1280px;
	}
	.section-screenshots {
		padding: 60px 0 60px 9.125%;
	}
}
